{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="htpps://unpkg.com/swiper@7/swiper-bundle.min.css">
    <title>Registro de Usuario / Paciente</title>
</head>

<body>
    <div class="panel">
        <div class="img"><img src="{% static 'assets/logo0.png' %}" alt="Logo"></div>
        <h3>Registro de Usuario / Paciente</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="ingresar">
                <button type="submit">Registrar</button>
            </div>
            <div class="registrar">
            </div>
        </form>
    </div>
</body>

</html>
