{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
    <title>Contacto </title>
</head>

<body>
    <div class="contenedor">
        <div class="img"><img src="{% static 'assets/logo0.png' %}" alt="Logo"></div>
        
        <div class="tituloContacto">
            <h1>Formulario Contacto</h1>
        </div>
        <div class="textoContacto">
            <p>Te invitamos a dejarnos una queja, sugerencia, reclamo o agradecimiento a través del siguiente
                formulario.
                También podés escribirnos a experienciadelpaciente@hospitalgeneral.com
            </p>
        </div>
        <div class="mensaje-error">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{message}}
            </div>
            {% endfor %}
        </div>
        <div class="formulario">
            {% if respuesta %}
            <p> {{respuesta | safe }}</p>
            {% endif %}
            <form method="POST" action="{% url 'contacto'%}">
                {% csrf_token%}
                {% if contacto_form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ contacto_form.non_field_errors }}
                </div>
                {% endif %}
                {% for item in contacto_form %}
                <div class="col-md-12">
                    <div class="md-form mb-0">
                        {{item}}
                    </div>
                    <div class="div-error">{{item.errors}}</div>
                </div>
                {% endfor %}

                <div class="submit">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</body>

</html>






<div class="row">
    {% if mi_formulario.non_field_errors %}
    <div class="alert alert-danger">
        {{ mi_formulario.non_field_errors }}
    </div>
    {% endif %}
    {% for campo in mi_formulario %}
    <!--Grid column-->
    <div class="col-md-12">
        <div class="md-form mb-0">
            <label for="name" class="form-label">{{ campo.label }}</label>
            {{campo}}
        </div>
        <div class="div-error">{{campo.errors}}</div>
    </div>
    <!--Grid column-->
    {% endfor %}
</div>


<div class="text-center text-md-left mt-3">
    <button class="btn btn-primary" type="submit">Enviar</button>
</div>