{% extends 'base/base.html' %}
{% load static %}

{% block titulo %}
  {{ titulo|upper }}
{% endblock %}

{% block content %}
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">Noticias</p>
              <p class="subtitle">{{noticia.titulo}}</p>
              <p>
                  <img width="150" height="150" src= '{{ MEDIA_URL }}{{noticia.imagen}}'>
              </p>
              <p>
                {{noticia.contenido | truncatewords:10}}
              <br>
              <br>
            </p><a href="/noticias/{{ noticia.id }}/">Leer más</a>
            <br>
            <br>
                          
            </table>
            <nav class="pagination" role="navigation" aria-label="pagination">
              
              {% comment %} {% if siguiente_pagina = total_noticias|length %} {% endcomment %}
              <a class="pagination-previous is-disabled">Anterior</a>
              <a class="pagination-next" href="/?pagina={{siguiente_pagina}}">Siguiente</a>
              {% comment %} {% else %} {% endcomment %}
              <a class="pagination-previous" href="/?pagina={{pagina_anterior}}">Anterior</a>
              <a class="pagination-next is-disabled">Siguiente</a>
              {% comment %} {% endif %} {% endcomment %}
              <ul class="pagination-list">
                {% for numero in total_noticias %}
                <li>
                  <a href="/?pagina={{numero}}" class="pagination-link is-current" aria-label="Page {{numero}}" aria-current="page">{{numero}}</a>
                </li>
                {% endfor %}
              </ul>
            </nav>
          
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">Hospital General</p>
            <p class="subtitle">Cuidando la salud de tu familia desde 1950</p>
            <figure class="image is-4by3">
              <img src="\static\assets\logo.png" />
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Obras sociales</p>
          <p class="subtitle">Consulta el listado de las obras sociales</p>
          <div class="content">
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">Nuestros Profesionales</p>
          <p class="subtitle">Listado de profesionales / Especialidades</p>
         
          <div class="content">
            <!-- Content -->
          </div>
        </div>
      </article>
    </div>
  </div>
{% endblock %}
