{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    
    <title>
      {% block titulo %}

      {% endblock %}
    </title>
  </head>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'inicio' %}"><img src="" /></a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'inicio' %}">Inicio</a>

        <a class="navbar-item" href="{% url 'turno_p1' %}">Turno Online</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="{% url 'sucursales' %}">Sucursales</a>

          <div class="navbar-dropdown">
            {% comment %} <a class="navbar-item">About</a>
            <a class="navbar-item">Jobs</a> {% endcomment %}
            <a href="{% url 'contacto' %}" class="navbar-item">Contacto</a>
            <hr class="navbar-divider" />
            <a class="navbar-item">Reportar Problemas</a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary"><strong>Registrarse</strong></a>
            <a href="{% url 'login' %}" class="button is-light">Login</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <body>
    {% block content %}{% endblock %}
  </body>

  <br><br><br><br>
  
  <footer class="footer">
    <div class="content has-text-centered">
      <img  id="footer-logo" src="static/assets/logo.png" alt="logo" width=50px  >
      <p class="footer-texto ">Nuestra experiencia a su servicio </p>
      <div class="iconos-redes-sociales ">
        <a href="https://github.com/northerose/hospital_nuevo" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-facebook"></i>
        </a>     
        <a href="https://github.com/northerose/hospital_nuevo" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-github"></i>
        </a>      
        <a href="https://github.com/northerose/hospital_nuevo" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-envelope"></i>
        </a>      
      </div>
      <div class="derechos-de-autor ">Creado por Grupo4-CaC(2023) &#169;</div>
    </div>
  </footer>
</html>
