@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/static/assets/logo_make_11_06_2023_209.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}


.contenedor {
    width: 60%;
    max-width: 1000px;
    background: #fafafa10;
    backdrop-filter: blur(0.7rem);
    -webkit-backdrop-filter: blur(0.7rem);
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: 1px solid #81dcf8;
}

.contenedor:hover {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
    background: #98d3e6;
    color: #fff;
}

.contenedor h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: #077191;
}

.textoContacto{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 25px;
    color: #000;
}

.img {
    display: flex;
    justify-content: center; 
    margin-bottom: 1rem;
}

.img img{
    width: 35%;
}

.textoContacto {
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 15px;
}

.login {
    width: 50%;
    margin: 0 25%;
    display: flex;
    justify-content: center; 

}

.login input[type='text'],
.login input[type='password'],
.login textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 15px;
    border: 1px solid #999;
    color: #999;
    font-family: sans-serif;
    font-weight: 400;
    outline: 0;
}

.login textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
    max-height: 150px;
}
/* 
.formulario input[type='text']:focus,
.formulario input[type='email']:focus,
.formulario textarea:focus {
    border: 3px solid #077191;
} */

.login input[type='submit'] {
    padding: 12px 30px;
    border: transparent;
    background: #077191;
    cursor: pointer;
    justify-content: center;
    
        
}

.submit{
    display: flex;
    justify-content: center;
}

.mensaje-error{
    text-align: center;
    background-color: green;
}